/* body {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: #3c373e;
    font-weight: 300; 
} */

p{
    /* color: rgba(255, 255, 255, 0.5); */
    color: black;
    font-weight: 300; 
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }
  
a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
a, a:hover {
      text-decoration: none !important; 
}
  
@media screen and (min-width: 768px) {
    .content {
        /* padding: 7rem 0;  */
        padding-top: 1rem;
        /* padding-left: 4rem; */
        width: 85%;
    }
    .width-set{
        width: 280px;
    }
    #suttle-box{
        width: 98%;
        margin-left: 5%;
    }
    
}

  
h2 {
    font-size: 20px;
    /* color: #fff;  */
    color: black; 

}
  
.custom-table {
    min-width: 800px; 
}
.custom-table thead tr, .custom-table thead th {
      padding-bottom: 30px;
      border-top: none;
      border-bottom: none !important;
      /* color: #fff; */
      color: black;
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: .2rem; 
}
.custom-table tbody th, .custom-table tbody td {
      /* color: #777; */
      color: black;
      font-weight: 400;
      padding-bottom: 20px;
      padding-top: 20px;
      font-weight: 300;
      border: none;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; 
}
.custom-table tbody th small, .custom-table tbody td small {
        color: rgba(255, 255, 255, 0.3);
        font-weight: 300; 
}
.custom-table tbody th a, .custom-table tbody td a {
        /* color: rgba(255, 255, 255, 0.3);  */
        color: black;
}
.custom-table tbody th .more, .custom-table tbody td .more {
        /* color: rgba(255, 255, 255, 0.3); */
        color: rgb(67, 67, 230);
        font-size: 11px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: .2rem; 
}
.custom-table tbody tr {
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; 
}
.custom-table tbody tr:hover td, .custom-table tbody tr:focus td {
        /* color: #fff;  */
        color: black;
}
.custom-table tbody tr:hover td a, .custom-table tbody tr:focus td a {
          color: #fdd114; 
}
.custom-table tbody tr:hover td .more, .custom-table tbody tr:focus td .more {
    color: #fdd114; 
}
.custom-table .td-box-wrap {
    padding: 0; 
}
.custom-table {
      /* background: #fff; */
      background: #3c373e;
      border-radius: 4px;
      margin-top: 15px;
      margin-bottom: 15px; }
.custom-table td, .custom-table .box th {
        border: none !important; 
}

.box11{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

}
@media screen and (max-width: 768px) {
    .box11 img{
        margin: auto;
    }
}
@media screen and (min-width: 768px) {
    #laundary{
        margin-left: 15%;
    }
    
}
@media screen and (max-width: 768px) {
    #medical-box{
        margin-left: 5%;
        padding-left: 10px;
    }
    
}