<!-- Jai Shree Ram -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IIT Gn Campus</title>
    <!-- <link rel="stylesheet"  media="screen and (max-width:850px)" href="../static/style/mobile.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style/home.css">
  </head>

  


  <body>
    <nav class="navbar navbar-expand-lg nav-custom" >
        <div class="container-fluid">
            <a class="navbar-brand text-light" href="#"><img id="custom-img" src="../static/iitgn_logo.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top"><span>IIT Gandhinagar</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link text-light active font-color" aria-current="page" href="#">Facilities</a>
              </li>
              <li class="nav-item">
                <a class="nav-link hvr-underline-from-center font-color" aria-current="page" href="#">IIT Gn</a>
              </li>
              <li class="nav-item">
                <a class="nav-link hvr-underline-from-center font-color" aria-current="page" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link hvr-underline-from-center font-color" aria-current="page" href="#">Gallery</a>
              </li>
              <li class="nav-item">
                <a class="nav-link hvr-underline-from-center font-color" aria-current="page" href="#">Green Office</a>
              </li>
              <li class="nav-item">
                <a class="nav-link hvr-underline-from-center font-color" aria-current="page" href="#">Contact</a>
              </li>
              
              <li class="nav-item dropdown">
                
                <a class="nav-link dropdown-toggle font-color" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  | More
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Campus Map</a></li>
                  <li><a class="dropdown-item" href="#">Publications</a></li>
                  <li><a class="dropdown-item" href="#">Awards</a></li>
                </ul>
              </li>
              
            </ul>
            
        </div>
        </div>
    </nav>
    <div class="carousel container-fluid">
        <div class="list">
            <div class="item">
                <img src="../static/campus8.jpg"> //
            </div>
            <div class="item">
                <img src="../static/campus1.jpg"> //
            </div>
            <div class="item">
                <img src="../static/campus4.webp">  //
            </div>
            <div class="item">
                <img src="../static/campus1.jpg"> //
            </div>
            <div class="item">
                <img src="../static/campus4.webp"> //
            </div>
            <div class="item">
                <img src="../static/campus8.jpg"> //
            </div>
            <div class="item">
                <img src="../static/campus1.jpg"> //
            </div>
            <div class="item">
                <img src="../static/campus8.jpg"> //
            </div>
        </div>
        <div class="thumbnail">
            <div class="item">
                <img src="../static/campus8.jpg"> //
            </div>
            <div class="item">
                <img src="../static/campus1.jpg"> //
            </div>
            <div class="item">
                <img src="../static/campus4.webp">  //
            </div>
            <div class="item">
                <img src="../static/campus1.jpg"> //
            </div>
            <div class="item">
                <img src="../static/campus4.webp"> //
            </div>
            <div class="item">
                <img src="../static/campus8.jpg"> //
            </div>
            <div class="item">
                <img src="../static/campus1.jpg"> //
            </div>
            <div class="item">
                <img src="../static/campus8.jpg"> //
            </div>
        </div>
        <div class="arrows">
            <button id="prev"><</button>
            <button id="next">></button>
        </div>
        <div class="time"></div>
    </div>
    <div class="d-flex" style="flex-wrap: wrap; justify-content: space-between;">
        <div class="col-sm-6 col-lg-4 mt-2" >
            <div class="card">
            <img class="bd-placeholder-img card-img-top" width="100%" height="250" src="../static/housing.jpg" </img>
            <div class="card-body">
                <h5 class="card-title">Student Housing</h5>
                <!-- <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p> -->
                <ul class="card-text">
                    <li>6 hostel blocks accommodating both UG and PG students</li>
                    <li>Each block having a capacity of about 200 students</li>
                    <li>A common hostel library and reading area</li>
                    <li>Specially designed to be accessable to persons with disablities</li>
                </ul>
            </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 mt-2" >
            <div class="card">
            <img class="bd-placeholder-img card-img-top" width="100%" height="250" src="../static/dining.jpg" </img>
            <div class="card-body">
                <h5 class="card-title">Dining</h5>
                <ul class="card-text">
                    <li>Central dining facility for all students</li>
                    <li>Two independent mess facilities</li>
                    <li>Modern and well equipped kitchens</li>
                    <li>A variety of food spread across the campus</li>
                    <li>A large central cafeteria with open air seating</li>
                </ul>
            </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 mt-2" >
            <div class="card">
            <img class="bd-placeholder-img card-img-top" width="100%" height="250" src="../static/sports.jpg" </img>
            <div class="card-body">
                <h5 class="card-title">Sports</h5>
                <ul class="card-text">
                    <li>Football field &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    <li>Cricket field</li>
                    <li>Volleyball courts</li>
                    <li>Basketball courts</li>
                    <li>Jogging track</li>
                </ul>
            </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 mt-2" >
            <div class="card">
            <img class="bd-placeholder-img card-img-top" width="100%" height="250" src="../static/space.jpg" </img>
            <div class="card-body">
                <h5 class="card-title">Recreation Spaces</h5>
                <ul class="card-text">
                    <li>Terrace gardens  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    <li>Riverside promenade</li>
                    <li>Rooftop open air theatres</li>
                    <li>Jal mandaps</li>
                    <li>Central vista</li>
                </ul>
            </div>
            </div>
        </div>
    </div>
    <script src="../static/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    
</body>
</html>